.dropbtn {
    background-color: #045aaa;
    color: #ebf8fc;
    padding: 5px;
    border-radius: .7em .7em .7em .7em;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #4d669c;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ebf8fc;
  }
  
  #myInput:focus {outline: 3px solid #ebf8fc;}
  
  .dropdownSearch {
    color: black;
    position: relative;
    display: inline-block;
    right: 25%;
    border-radius: 50px 20px;
    box-shadow: 0 0 12px 0 rgba(9, 69, 152, 0.9);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ebf8fc;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #000000;
    z-index: 1;

    border-radius: 12px 12px;
    box-shadow: 0 0 12px 0 rgba(64, 0, 255, 0.6);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  input{
    background: #ebf8fc"
  }
  
  .dropdown a:hover {background-color: #ebf8fc;}
  
  .show {display: block;}